DB_PASSWORD=12345
JWT_SECRET=dev-jwt-secret-for-testing
MASTER_KEY=dev-master-key-for-testing
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=mae.bayer@ethereal.email
SMTP_PASS=K2VxuZ5aHWRsNC4yRb
SMTP_SECURE=false
NODE_ENV=development
PORT=8080